<!doctype html>
<head>
  <link rel="shortcut icon" href="/static/favicon.ico">
  <title>Курсы</title>
  <script type = "text/JavaScript">
    <!--
       function AutoRefresh( t ) {
          setTimeout("location.reload(true);", t);
       }
    //-->
 </script></head>
<body onload = "JavaScript:AutoRefresh(1000*60);">
  <h1>Курсы валют</h1>

  <table>
    {% for tr in trv %}
    <tr>
      {% for td in tr %}
        <td>
          {{td | safe}}
        </td>
      {% endfor %}  
      </tr>
    {% endfor %}  
  </table> 

  <a href="{{ source_url }}">{{ source_url }}</a>

  <h3>{{curr1}}</h3>
  <table>
    <tr>
      <th>&nbsp;&nbsp;Buy&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;Sell&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;Time&nbsp;&nbsp;</th>
    </tr>
    {% for tr in data1 %}
    <tr>
      {% for td in tr %}
        <td>
          {{td | safe}}
        </td>
      {% endfor %}  
      </tr>
    {% endfor %}  
  </table> 


</body>